@import url(https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Barlow:wght@400;600&family=Roboto+Slab:wght@300;400&display=swap);
.burger-icon {
    position: absolute;
    top: 18px;
    right: 18px;
    float: right;
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    padding-top: 9px;
    text-align: center;
    background-color: #213629;
    border-radius: 50%;
}

.burger-icon a {
    display: block;
    color: white;
}

@media screen and (min-width:769px) {
    .burger-icon {
        display: none;
    }    

    .burger-menu {
        display: none;
    }
}

.burger-menu {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #213629;
    overflow-y: hidden;
    transition: 0.5s;
}

.menu-overlay {
    position: relative;
    top: 75px;
    width: 100%;
    text-align: left;
}
  
.menu-overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    padding-left: 0.5em;
    color: white;
    display: block;
    transition: 0.3s;
    border-bottom: #415d3f 1px solid;
}
  
.menu-overlay a:hover, .menu-overlay a:focus {
    color: #213629;
    background-color: white;
}
  
.close-menu {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 18px;
    right: 18px;
    box-sizing: border-box;
    padding-top: 4px;
    text-align: center;
}

.close-menu a {
    display: block;
    color: white;
}

/* HEADER */

header {
    margin-bottom: 2vw;
}


.logo {
    padding-top: 11vw;
    margin-bottom: 5vw;
}

@media screen and (max-width:768px)  {
    .logo {
        padding-top: 18vw;
    }
}

.logo a {
    display: block;
    margin: 0 auto;
    width: 33.125vw;
    max-width: 477px;
    min-width: 223px;
}

.logo a>img {
    width: 100%;
}

.menu {
    list-style-type: none;
    font-size: 1.125em;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

@media screen and (max-width:768px) {
    .menu {
        display: none;
    }
}

.menu li>a {
    color: #202e1f;
    text-decoration: none;
    border-bottom: transparent 2px solid;
    padding: 1em;
    letter-spacing: 0.05em;
    transition-property: color, border;
    transition: 0.15s;
}

.menu li>a:hover {
    color: #f5bd19;
    border-bottom: #f5bd19 2px solid;
}

#intro {
    margin-top: 8vw;
    margin-bottom: 16vw;
    text-align: center;
    text-transform: uppercase;
    color: #202e1f;
    font-size: 3em;
    line-height: 1.5em;
    letter-spacing: 0.025em;
}

@media screen and (max-width:768px) {
    #intro {
        font-size: 6vw;
        margin-top: 16vw;
        margin-bottom: 120vw;
    }
}

#texte_rouge {
    color: #bf213f;
}

/* MAIN */


.carte {
    display: flex;
    background-color: #f5bd19;
}

#carte_photo_large {
    flex: 2;
    background: no-repeat url(/img/plat_poulet.jpg) center center;
    background-size: cover;
}

#carte_texte {
    flex: 1;
    color: #202e1f;
    text-align: center;
    margin: 2.75vw 0;
    padding: 2em 0;
    min-width: 480px;
}

@media screen and (max-width: 768px) {
    #carte_texte {
        min-width: 100%;
    }

    #carte_photo_large {
        display: none;
    }
}

#carte_texte p {
    font-family: 'Roboto Slab', serif;
    padding: 2vw;
    margin-bottom: 4vw;
}

@media (min-width: 320px) {
    #carte_texte p {
      font-size: calc(1.125em + ((1vw - 0.2em) * 0.5357));
      min-height: 0vw;
    }
  }
  @media (min-width: 1440px) {
    #carte_texte p {
      font-size: 1.5em;
    }
  }

#carte_photo_small {
    min-width: 100%;
    min-height: 72vw;
    margin-bottom: 6vw;
    background: no-repeat url(/img/plat_poulet.jpg) center center;
    background-size: contain;
}

@media screen and (min-width: 769px) {
    #carte_photo_small {
        display: none;
    }    
}

#lien_carte {
    display: block;
    width: 160px;
    margin: 0 auto;
    text-decoration: none;
    color: #202e1f;
    text-transform: uppercase;
    padding: 0.5em 0;
    font-size: 1em;
    border: #202e1f solid 2px;
    border-radius: 20px;
    transition: all 0.15s;
}

#lien_carte:hover {
    color: #f2f2f2;
    background-color: #202e1f;
}

.actus {
    background-color: #bf213f;
    text-align: center;
    padding-top: 4em;
    padding-bottom: 6em;
}

.en_ce_moment h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
    font-weight: 300;
    letter-spacing: 0.1em;
    color: #f2f2f2;
    text-transform: uppercase;
    padding: 4vw 0;
}

@media screen and (max-width:768px) {
    .en_ce_moment h1 {
        font-size: 1.2em;
    }
}

.photos_actus {
    display: flex;
    justify-content: stretch;
    margin-bottom: 6em;
}

.titre_actu {
    width: 100%;
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.75);
}

#actu_01, #actu_02 {
    display: flex;
    width: 50%;
    height: 300px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#actu_01 {
    background-image: url(/img/salle.jpg);
}

#actu_02 {
    background-image: url(/img/fruits.jpg);
}

.lien_reservez {
    display: block;
    width: 240px;
    margin: 0 auto;
    text-decoration: none;
    color: #f2f2f2;
    text-transform: uppercase;
    padding: 0.5em 0;
    font-size: 1.5em;
    background-color: #0f0f0f;
    border-radius: 40px;
    transition: all 0.2s;
}

.lien_reservez:hover {
    color: #bf213f;
    background-color: #f2f2f2;
}

.blocReservation {
    background-color: #bf213f;
    color: white;
    text-align: center;
    margin-top: 4vw;
    padding-bottom: 4vw;
}

.blocReservation h1 {
    font-weight: 400;
    padding: 1em 0;
}

.blocReservation p {
    padding: 1em 0;
}

.table_picto {
    text-align: center;
    margin-bottom: 4vw;
}
input, textarea {
    padding: 8px 4px;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: medium;
    color: #202e1f;
    border: 2px solid #213629;
    border-radius: 8px;
}

input {
    width: 200px;
    margin: 0 8px 16px 8px;
}

textarea {
    resize: none;
    margin: 16px 8px;
    width: 416px;
}

@media screen and (max-width:459px) {
    textarea {
        width: 200px;
    }
}

input[type=number] {
    font-size: x-large;
    font-weight: 900;
}

input[type=date], input[type=time] {
    padding: 12px 8px;
    font-size: x-large;
    font-weight: 900;
}

input:focus {
    outline: none;
    border-color: yellowgreen;
}

.recap {
    margin: 0 24px;
    text-align: center;
    font-size: large;
}

.erreur_champ {
    color: #bf213f;
    width: auto;
    font-weight: 900;
    padding: 8px 4px;
    text-align: center;
    background-color: #e0b2bb;
}

.reservez {
    padding: 12px;
    margin: 24px 0;
    width: 240px;
    font-family: 'Barlow', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #0f0f0f;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: all ease 0.2s;
}

.reservez:hover {
    background-color: white;
    color: #bf213f;
}

.reservez:active {
    background-color: white;
    color: #202e1f;
}

.confirmer {
    display: block;
    box-sizing: border-box;
    padding: 12px;
    margin: 24px auto 12px;
    width: 200px;
    font-family: 'Barlow', sans-serif;
    font-size: medium;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 24px;
    cursor: pointer;
    transition: all ease 0.1s;
}

.confirmer:hover {
    background-color: white;
    color: #0f0f0f;
}

.confimer:active {
    background-color: white;
    color: #0f0f0f;
}

.modifier {
    display: block;
    box-sizing: border-box;
    padding: 12px;
    margin: 24px auto 12px;
    width: 200px;
    font-family: 'Barlow', sans-serif;
    font-size: medium;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 24px;
    cursor: pointer;
    transition: all ease 0.1s;
}

.modifier:hover {
    background-color: white;
    color: #0f0f0f;
}

.modifier:active {
    background-color: white;
    color: #0f0f0f;
}

.supprimer {
    padding: 12px;
    margin: 12px 0 24px 0;
    width: 200px;
    font-family: 'Barlow', sans-serif;
    font-size: medium;
    text-transform: uppercase;
    background-color: #0f0f0f;
    color: white;
    border: 2px solid #0f0f0f;
    border-radius: 24px;
    cursor: pointer;
    transition: all ease 0.1s;
}

.supprimer:hover {
    background-color: white;
    color: #0f0f0f;
    border-color: white;
}

.supprimer:active {
    background-color: white;
    color: #0f0f0f;
    border-color: white;
}
/* FOOTER */


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    background-color: #213629;
    padding: 1.25em;
}

footer div {
    margin: 1em 0;
}

.contact {
    font-size: 1.125em;
    text-align: center;
    letter-spacing: 0.1em;
}

.contact a {
    text-decoration: none;
    color: #f2f2f2;
}

.contact a:hover {
    color: #f5bd19;
}

.reseaux {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reseaux a {
    padding: 0 1.5em;
    color: white;
}

.reseaux a:hover {
    color: #f5bd19;
}

.insta a:hover {
    background-image: url(/img/instagram_hover.png);
}

.copyright p {
    padding-top: 1em;
    color: #415d3f;
    text-align: center;
    border-top: #415d3f 2px solid;
}
@media screen and (min-width:769px) {
    
    .animated-box {
        box-sizing: border-box;
    }
    
    .fade-in {
        -webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    @-webkit-keyframes fade-in {
        0% {
            transform: translateY(48px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes fade-in {
        0% {
            transform: translateY(48px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
}
.background-fade-in {
    -webkit-animation: background-fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: background-fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@-webkit-keyframes background-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes background-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
* {
    margin: 0;
    padding: 0;
}

html {
    background: url(/img/background.jpg) no-repeat top center;
    background-size: 100%;
    background-color: #d8ebef;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
}

@media screen and (max-width:768px)  {
    html {
        background: url(/img/background_mobile.jpg) no-repeat top center;
        background-size: contain;
        background-color: #dff2f6;
    }
}
