@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Barlow:wght@400;600&family=Roboto+Slab:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    background: url(/img/background.jpg) no-repeat top center;
    background-size: 100%;
    background-color: #d8ebef;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
}

@media screen and (max-width:768px)  {
    html {
        background: url(/img/background_mobile.jpg) no-repeat top center;
        background-size: contain;
        background-color: #dff2f6;
    }
}

@import url(burger.css);

@import url(header.css);

@import url(homepage.css);

@import url(reservation.css);

@import url(forms.css);

@import url(footer.css);

@import url(scroll_animation.css);